<div>
  <h1 class="font-bold text-4xl"></h1>
  "乗り物又は機械類の運転操作をする予定のある方は思わぬ事故の可能性を避けるためユーザー様には使用禁忌のご確認をお願いします。38度以上の高熱がある方、持病をお持ちの方、他の医薬品を服用している方はお近くの薬局やドラッグストアの資格者、または医師にご相談ください。"
  <%=  button_to "症状入力画面へ", {controller: 'symptoms', action: 'index'}, method: :get, class: "register-blue-btn" %>


</div>