<div>
  <h1 class="font-bold text-4xl"></h1>
  "思わぬ副作用や症状の重篤化などの可能性を避けるためユーザー様には医師による受診をおすすめします。受診ができない事由があり、市販薬をお求めの方はお近くの薬局やドラッグストアの資格者にご相談ください。"
  <%= button_to "トップページへ", {controller: 'top', action: 'index'}, method: :get, class: "register-blue-btn" %>


</div>
